* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mb-10 {
  margin-bottom: 100px;
}
.my-10 {
  margin: 30px auto;
}
.center-grid {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}
