* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mb-10 {
  margin-bottom: 100px;
}
.my-10 {
  margin: 30px auto;
}
.center-grid {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}
.mobile .chat {
  width: 100%;
  height: 100%;
  bottom: 0px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  right: 0px;
  left: auto;
  max-height: none;
}
/* @media (max-width: 576px) {
  .chat,
  .start-group {
    margin: 0 auto !important;
    width: 100% !important;
    position: static !important;
  }
} */
